<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.abakumov.bikecomp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <service
            android:name=".service.InfoService"
            android:exported="false" />

        <!--  ##############################  Main screen ###################################### -->
        <activity
            android:launchMode="singleTask"
            android:name="ua.com.abakumov.bikecomp.MainActivity"
            android:theme="@style/Widget.AppCompat.Light.ActivityChooserView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  ###############################  Report screen ################################### -->
        <activity
            android:name="ua.com.abakumov.bikecomp.ReportActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--  ###########################  Statistics screen ################################### -->
        <activity
            android:name=".HistoryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--  ###########################  Settings screen ##################################### -->
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>